.view-control:-moz-placeholder {
    color:#999
}
.view-control::-moz-placeholder {
    color:#999
}
.view-control:-ms-input-placeholder {
    color:#999
}
.view-control::-webkit-input-placeholder {
    color:#999
}
.view-control {
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.428571429;
    color:#555;
    vertical-align:middle;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.view-control[disabled],.view-control[readonly],fieldset[disabled] .view-control {
    cursor:not-allowed;
    background-color:#eee
}
textarea.view-control {
    height:auto
}
